html
  body
    ion-view(title='Account')
      ion-content.padding
        h1 Account
        .list
          label.item.item-input.item-floating-label
            span.input-label Username
            input(type='text', placeholder='Username', ng-model='user.username')
          label.item.item-input.item-floating-label
            span.input-label Password
            input(type='password', placeholder='Password', ng-model='user.password')
        button.button.button-positive.button-block(ng-click='login(user)') Login